In [4]:
import pandas as pd

In [7]:
# df --> dataframe demektir. sanal bir excel tablosu gibidir. yani ham dataya yani excel tutulan veri bozulmaz. 
df = pd.read_csv(filepath_or_buffer='data/categories.csv') # filepath_or_buffer argümanı ise veri setimizin yolunu yazmak için kullanıyoruz.
df.head() # head fonksiyonu default olarak ilk 5 satırı yazrıdır.

,CategoryID,CategoryName,Description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"

In [17]:
from string import ascii_lowercase

# asci_lowercase fonksiyonu bize küçük harf halinde a, b, c .... z bize teslim edecek.
# output --> 'abcdefghijklmnopqrstuvwxyz'
# bu kod---> list(ascii_lowercase[:len(df)]) bize 'abcdefgh' bu ifadeyi verir.
# veri setinin 0, 1, 2, 3 ... 8 olan index bilgilerini a, b, c, ... h yaptık
df.index = list(ascii_lowercase[:len(df)])

In [8]:
df.head(8)

,CategoryID,CategoryName,Description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"
5,6,Meat/Poultry,Prepared meats
6,7,Produce,Dried fruit and bean curd
7,8,Seafood,Seaweed and fish

In [9]:
# veri setimiz kaç satırdan ve sütundan oluşuyor
df.shape

(8, 3)

In [10]:
# veri setimizde ki verilerin tipini ekrana yazdırır
df.dtypes

CategoryID       int64
CategoryName    object
Description     object
dtype: object

In [11]:
# Tek sütünu seçmek panda serisi olarak
df['CategoryName'] # burada veri pandas series

0         Beverages
1        Condiments
2       Confections
3    Dairy Products
4    Grains/Cereals
5      Meat/Poultry
6           Produce
7           Seafood
Name: CategoryName, dtype: object

In [12]:
# Tek sütunu dafaframe olarak seçme
df[['CategoryName']]

     CategoryName
0       Beverages
1      Condiments
2     Confections
3  Dairy Products
4  Grains/Cereals
5    Meat/Poultry
6         Produce
7         Seafood

## Select

#### Python'da iki tip selector bulumaktadır:

+ <b>loc:</b> Pandas kütüphanesinde veri seçmek için kullanılan çok güçlü bir yöntemdir. Özellikle <i>etiket</i> yani satır ve sütun isimlerini üzerinden nokta atışı veri seçimi yani select işlemi yapılır. "loc" etiket bazlı selection yapar.

+ <b>iloc:</b> Pandas kütüphanesinde veri seçmek için kullanılır. "loc" farkı ise "iloc" <i>pozisyona</i> göre seçim yapar yani satır numarası ve sütun numarası üzerinden işlem yapar. "iloc" integer bazlı yani satır ve sütun numarasına göre.

<hr>

<b>Dilimleme: </b> <i>Hem "loc" hemde "iloc" ile tıpkı python'da ki gibi dilimleme yapılabilinir.</i>

In [16]:
# loc example
# loc içerisinde ilk kullanılan ifade:
#  ":" --> bütün satırlar demek
# 'CategoryName' --> seçilmek istenilen sütunu ifade eder.
# o halde "loc" kullanımında ilk argüman satır ikinci argüman sütunu temsil eder
# df.loc['satır etiketi', 'sütun etiketi']
df.loc[:, 'CategoryName']

0         Beverages
1        Condiments
2       Confections
3    Dairy Products
4    Grains/Cereals
5      Meat/Poultry
6           Produce
7           Seafood
Name: CategoryName, dtype: object

In [18]:
# Seafood verisini loc kullanarak getir.
df.loc['h', 'CategoryName']

'Seafood'

In [30]:
# Dairy Products, Grains/Cereals, Meat/Poultry verilerini loc kullanarak getirin
df.loc['c':'f', 'CategoryName']

c       Confections
d    Dairy Products
e    Grains/Cereals
f      Meat/Poultry
Name: CategoryName, dtype: object

In [19]:
# Bana belirli bir satırıdaki tüm veriyi getirin (loc)
df.loc['g']

CategoryID                              7
CategoryName                      Produce
Description     Dried fruit and bean curd
Name: g, dtype: object

In [20]:
# 0 ve 7 satır ile CategoryName, Description satırlarını getirin
df.loc[['a', 'h'], ['CategoryName', 'Description']]

  CategoryName                                  Description
a    Beverages  Soft drinks, coffees, teas, beers, and ales
h      Seafood                             Seaweed and fish

In [21]:
# 0 ile 3 satırlar ile CategoryID, CategoryName sütunlarını listeleyin
df.loc['a':'d', ['CategoryID', 'CategoryName']]

   CategoryID    CategoryName
a           1       Beverages
b           2      Condiments
c           3     Confections
d           4  Dairy Products

In [22]:
# CategoryName ve Desciption sutunların tüm satırlarını listeleyin
df.loc[:, ['CategoryName', 'Description']]

     CategoryName                                        Description
a       Beverages        Soft drinks, coffees, teas, beers, and ales
b      Condiments  Sweet and savory sauces, relishes, spreads, an...
c     Confections                Desserts, candies, and sweet breads
d  Dairy Products                                            Cheeses
e  Grains/Cereals                Breads, crackers, pasta, and cereal
f    Meat/Poultry                                     Prepared meats
g         Produce                          Dried fruit and bean curd
h         Seafood                                   Seaweed and fish

In [23]:
# iloc kullanarak bana 7 satırın categoryname getir
df.iloc[7, 1]

'Seafood'

In [24]:
# 1. ve 3. satırları ile categoryname getirelim
df.iloc[1:3, 1]

b     Condiments
c    Confections
Name: CategoryName, dtype: object

In [25]:
# sadece 1. ve 7. satıları, categoryname ve description sütunlarını getirelim
df.iloc[[1, 7], [1, 2]]

  CategoryName                                        Description
b   Condiments  Sweet and savory sauces, relishes, spreads, an...
h      Seafood                                   Seaweed and fish